/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

footer{
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px
}

.high-rate circle{
  stroke: #21d07a !important
}

.low-rate circle{
    stroke: #d2d531 !important;
}
 


.mat-grid-tile .mat-figure{
    justify-content: flex-start !important;
    align-items: flex-start !important
}


.mat-dialog-container{
    padding: 0 !important
}



